.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:root{
  --primary: #4628ff;
  --warning: #ffd028;
  --danger: #eb3f27;
  --success: #75fa83;
  --white: #fdfdfd;
  --dark: #181717;
}


.btn{
  font-weight: 300;
  cursor: pointer;
  padding:10px 15px;
  font-size: 20px;

}
.btn:hover{
  box-shadow: 3px 3px rgb(209, 205, 205);
  
}

/*button colors and styles */
.primary-solid {
  background-color: var(--primary);
  color: var(--white);
  
}

.warning-solid {
  background-color: var(--warning);
  color: var(--white);
  
}
 .danger-solid{
   background-color: var(--danger);
   color: var(--white);
  
 }

 .success-solid{
   background-color: var(--success);
   color: var(--white);
 
 }

 .primary-outline {
  background-color: var(--white);
  color: var(--primary);
  border: 2px solid var(--primary);
}

.warning-outline {
  background-color: var(--white);
  color: var(--warning);
  border: 2px solid var(--warning);
}
 .danger-outline{
   background-color: var(--white);
   color: var(--danger);
   border: 2px solid var(--danger);
 }

 .success-outline{
   background-color: var(--white);
   color: var(--success);
   border: 2px solid var(--success);
 }

 .primary-dashed {
  background-color: var(--white);
  color: var(--primary);
  border: dashed var(--primary);
}

.warning-dashed {
  background-color: var(--white);
  color: var(--warning);
  border: dashed var(--warning);
}
 .danger-dashed{
   background-color: var(--white);
   color: var(--danger);
   border: dashed var(--danger);
 }

 .success-dashed{
   background-color: var(--white);
   color: var(--success);
   border: dashed var(--success);
 }

