.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Dynamic-button{
  width: 100px;
  height: 50px;
  color: black;
  font-size: 20px;
  cursor: pointer;

}
.Dynamic-button:hover{
  box-shadow: 10px 10px rgb(209, 205, 205);
}